* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(228, 228, 228);
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__header > h1 {
  color: rgb(238, 23, 23);
  font-size: 2rem;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__dropdown {
  background-color: white;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
